/****************************
container STYLES: Copy and paste these into your style.css page; Adjust the styles to fit your own typography and colors
*****************************/

/* container ID IS FOR THE OVERALL BOX */

#container
{
	border: 1px #000 solid;
	margin: 50px;
	padding: 30px;
	width: 700px;
	font-family: Courier;
}

/* resume-heading ID SELECTOR FOR THE PERSONAL INFORMATION AT THE TOP */

#resume-heading
{
text-align:center;
}

#resume-heading p
{
margin:0;
}

#resume
	{
		float: center;
}

/* TITLE CLASS SELECTOR IS FOR THE LEFT-HAND COLUMN OF THE RESUME */

.title
{
	width: 140px;
	float: left;
	padding: 20px 0 0 0;
	margin: 20px 0 0 0;
	border-top: 1px #000 solid;
}

/* INFO CLASS SELECTOR IS FOR THE RIGHT-HAND COLUMN OF THE RESUME */

.info
{
	width: 520px;
	float: left;
	padding: 20px 0 0 0;
	margin: 20px 0 0 0;
	border-top: 1px #000 solid;
}

#job-hide {
	display: none;
}


/* STYLE FOR BOTTOM INFORMATION */

#bottom
{
text-align:center;
margin-top:20px;
}

#bottom p
{
	margin: 0;
}

/* STYLES FOR LINKS  BEGIN HERE */

#container a:link
{
	color: #600;
	text-decoration: none;
}

#container a:visited
{
	color: #600;
	text-decoration: none;
}

#container a:hover
{
	color: #060;
	text-decoration: underline;
	background-color: #CCC;
}

/* STYLES FOR TEXT BEGIN HERE */

#container h1, h2, h3, h4, h5, h6
{
	margin: 0;
}

#container h1
{
	font-size: 14pt;
	line-height: 20pt;
	margin:10px 0 0 0;
}

#container h2
{
	font-size: 12pt;
	line-height: 14pt;
}

#container h3
{
	font-size: 12pt;
	line-height: 14pt;
}

#container p
{
	margin: 0 5px 5px 5px;
	text-indent: 0;
	font-size: 10pt;
	line-height: 14pt;
}

#container ul
{
	font-size: 10pt;
	line-height: 14pt;
	list-style-type: square;
	list-style-position: outside;
	margin-top: 0;
	margin-bottom:0;
}


/* CLEAR CLASS RESETS THE FLOAT; USE BETWEEN ROWS OF THE container */

.clear
{
clear:both;
}
