@media print{
	body {
		width: 95vw;
		height: 95vh;
	margin: .5in;
	}
}
body {
  font-family: monospace;
  width: 50vw;
  margin: auto;
}

#container{
	width: 50vw;
}

#resume-heading {
  text-align: center;
}

#resume-heading p {
}

#resume{
  
}


.title {
	width: inherit;
	border-top: 2px #000 solid;
}


.info
{
	width: inherit;
	border-top: 2px #000 solid;
}

#job-hide {
	display: none;
}


#bottom
{
text-align:center;
}

#bottom p
{
}

/* STYLES FOR LINKS  BEGIN HERE */

#container a:link{	
	color: rgb(64, 0, 128);
	text-decoration: underline;
}

#container a:visited
{
	color:#000;
  font-size: 90%;
	text-decoration: none;
}

#container a:hover{
	text-decoration: none;
	background-color: #CCC;
}

/* STYLES FOR TEXT BEGIN HERE */

#container h1, h2, h3, h4, h5, h6 {
}

#container h1 {
	font-size: 14pt;
	line-height: 15pt;
}

#container h2 {
	font-size: 12pt;
	line-height: 10pt;
}

#container h3 {
	font-size: 12pt;
	line-height: 10pt;
}

#container p { 
	text-indent: 0;
	font-size: 10pt;
	line-height: 10pt;
}

#container ul{
	font-size: 8pt;
	line-height: 10pt;
	list-style-type: square;
	list-style-position: outside;
}


/* CLEAR CLASS RESETS THE FLOAT; USE BETWEEN ROWS OF THE container */

.clear
{
clear:both;
}