body {
  background: linear-gradient(76deg, #CCFFFF, #FFCCCC);
  font-family: monospace;
  color: rgb(37, 33, 33);
}

<!-- begin more specific instructions
  -->
#wrapper {
  background-color: inherit;
}

#main {
  padding: 2%;
  background-color: inherit;
}

#header {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
	border: 1px #000 dotted;
  background-color: rgb(255, 238, 249);
  font-size: 100%;
  padding: 3%;

}

#header img {
  max-width: 33.3%;
  height: auto;
  grid-column-start: 1;
  grid-column-end: 1;
}

#boom {
  display: grid;
  text-align: center;
  font-size: 100%;
  padding: 1%;
  grid-column: 2;
}

nav {
  display: grid;
  max-width: 33.3%;
  padding: 1%;
  line-height: 150%;
  background-color: #CCFFFF;
  font-size: 100%;
  text-align: center;
  grid-column: 3;
}

#libby-title{
  text-decoration: underline;
  font-weight: bold;
  font-size: 135%;

}

#content {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  border: 1px #000 solid;
  padding: 50px;
  background-color: #fff;

}

#BOX {
  background-color: rgb(255, 238, 249);
}

#section-title {
  text-decoration: underline;
  text-align: center;
}

#section-content {
  padding: 0px 20px 20px 20px;
}

#footer {
  display: inline;
  position: relative;
  bottom: 10px;
	border: 1px #000 dotted;
  background-color: rgb(249, 227, 255);
  font-size: 12px;
}
