body {
  background: rgb(222, 255, 247);
  font-family: monospace;
  color: rgb(37, 33, 33);
}

.wrapper {
  border: 1px #000 solid;
}

nav {
  border: 1px #000 solid;
}

.main {
  border: 1px #000 solid;
}

.header {
	border: 1px #000 solid;
}

.content {
	border: 1px #000 solid;
}

.footer {
	border: 1px #000 solid;
}
