body {
  background: linear-gradient(76deg, #CCFFFF, #FFCCCC);
  font-family: monospace;
  color: rgb(37, 33, 33);
}

nav {
  border: 1px #000 solid;
  position: fixed;
  top: 10%;
  left: 80%;
  padding: 1%;
  background-color: #CCFFFF;
}

#wrapper {
  display: block;
  background-color: inherit;
}

#main {
  display: block;
  border: 1px #000 solid;
  padding: 2%;
  background-color: inherit;
}

#header {
	border: 1px #000 dotted;
  background-color: rgb(255, 238, 249);
  font-size: 12px;
  padding: 3%;
}

#content {
	border: 1px #000 solid;
  padding: 50px;
  margin: 100px;
  background-color: #fff;
  display: grid;

}

#header img {
  position: fixed;
  margin-top: 2%;
  left: 90%;
  max-width: 5%;
  height: auto;
}

#header span {
  position: relative;
  max-width: 30%;
  text-align: center;
  font-weight: bolder;
  font-size: 120%;
}

#footer {
	border: 1px #000 dotted;
  background-color: rgb(249, 227, 255);
  font-size: 12px;
}
